# LLM API Keys

# Universal Providers (Free / Paid)
ZENMUX_API_KEY=""
GROQ_API_KEY=""
OPENROUTER_API_KEY=""

# Specific Providers
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_API_KEY=""

# NVIDIA NIM Gateways
NVIDIA_API_KEY=""
NVIDIA_DEEPSEEK_API_KEY=""
